<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="schemas.android.com/apk/res/android"
    id="de.kraftmaschine.cordova" 
    android-versionCode="10000"
    version="1.0.0">
    <name>KraftMaschine</name>
    <description>
        App for the Kraftmachine instrument
    </description>
    <author email="jakob@urbsch.at" href="https://urbsch.at">
        Jakob Urbschat
    </author>
    <!-- needed to scan for bluetooth devices -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/-->
    <!-- this hook will point your config.xml to the DevServer on Serve -->
    <hook type="after_prepare" src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:name='MainActivity']" mode="overwrite">
        <activity android:name="MainActivity" android:label="KraftMaschine" android:configChanges="orientation|screenSize" />
    </edit-config>
</widget>
